# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploaded files (like from multer)
uploads/

# OS-specific files
.DS_Store
Thumbs.db

# Build output (if using TypeScript or bundlers)
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
